body {
    background-image: url(../images/background.jpg);
}

#content {
    margin-top: 45px;
    background-color: rgb(252, 239, 239);
    opacity: .90;
    
}

h1 {

    color: grey;
    text-align: center;
    font-size: 40px bold;

}

h2 {
    
        color: grey;
        text-align: center;
        font-size: 30px bold;
    
    }
p {
    text-align: center;
    font-size: 32px bold;
    color: rgb(110, 5, 5);

}
